# ===== Python =====
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log
.env
.venv/
.venv*/  
.idea/

# ===== Visual Studio (C++) =====
.vs/
*.sdf
*.opensdf
*.suo
*.VC.db
*.VC.opendb
*.cache
*.user
*.pdb
*.obj
*.ipch
*.tlog/
*.idb
*.ilk
*.lib
*.exp

# Обычно игнорируем .dll и .exe...
*.dll
*.exe

# ...но оставим нужные .dll и .exe:
!cpp_visualizer/QuadTree/SDL2-2.30.1/dll/*.dll

!QuadOctreeVisualizer/python_gui/QuadTree.exe
!QuadOctreeVisualizer/python_gui/SDL2.dll

# ===== Папки сборки =====
Debug/
Release/
# Не игнорируем x64/
x64/

# ===== OS Files =====
.DS_Store
Thumbs.db
desktop.ini
